# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
OrganizerClient/.idea/**/workspace.xml
OrganizerClient/.idea/**/tasks.xml
OrganizerClient/.idea/dictionaries

# Sensitive or high-churn files
OrganizerClient/.idea/**/dataSources/
OrganizerClient/.idea/**/dataSources.ids
OrganizerClient/.idea/**/dataSources.local.xml
OrganizerClient/.idea/**/sqlDataSources.xml
OrganizerClient/.idea/**/dynamic.xml
OrganizerClient/.idea/**/uiDesigner.xml

# Gradle
OrganizerClient/.idea/**/gradle.xml
OrganizerClient/.idea/**/libraries

# CMake
OrganizerClient/cmake-build-debug/
OrganizerClient/cmake-build-release/

# Mongo Explorer plugin
OrganizerClient/.idea/**/mongoSettings.xml

# File-based project format
OrganizerClient/*.iws

# IntelliJ
OrganizerClient/out/

# mpeltonen/sbt-idea plugin
OrganizerClient/.idea_modules/

# JIRA plugin
OrganizerClient/atlassian-ide-plugin.xml

# Cursive Clojure plugin
OrganizerClient/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
OrganizerClient/com_crashlytics_export_strings.xml
OrganizerClient/crashlytics.properties
OrganizerClient/crashlytics-build.properties
OrganizerClient/fabric.properties

# Editor-based Rest Client
OrganizerClient/.idea/httpRequests
